name: Build Gradle And Deploy to EC2 Instance

on:
  push:
    branches: [ "dev" ]

jobs:
  jar-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@417ae3ccd767c252f5661f1ace9f835f9654f2b5
      - name: Build with Gradle Wrapper
        run: ./gradlew build
      - name: Upload Jar
        uses: actions/upload-artifact@v3
        with:
          name: grassdiary-jar
          path: build/libs/grassdiary-0.0.1-SNAPSHOT.jar

  docker-build:
    needs: jar-build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Download Jar
        uses: actions/download-artifact@v3
        with:
          name: grassdiary-jar
          path: build/libs
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Docker build and push
        run: |
          docker buildx create --use
          docker buildx build --platform linux/arm64 -t yeseulhong/grass-diary:latest --push .

  deployEC2:
      needs: docker-build
      runs-on: ubuntu-latest
      env:
        USER: ${{ secrets.SERVER_USER }}
        PRIVATE_KEY: ${{ secrets.SERVER_PRIVATE_KEY }}
        HOST: ${{ secrets.SERVER_HOST }}
        GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
        GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
        JWT_ACCESS_SECRET_KEY: ${{ secrets.JWT_ACCESS_SECRET_KEY }}
        JWT_REFRESH_SECRET_KEY: ${{ secrets.JWT_REFRESH_SECRET_KEY }}
        DB_SERVER_URL: ${{ secrets.DB_SERVER_URL }}
        DB_USER_ID: ${{ secrets.DB_USER_ID }}
        DB_USER_PW: ${{ secrets.DB_USER_PW }}
        S3_ACCESS_PUBLIC_KEY: ${{ secrets.S3_ACCESS_PUBLIC_KEY }}
        S3_ACCESS_SECRET_KEY: ${{ secrets.S3_ACCESS_SECRET_KEY }}
        S3_BUCKET_NAME: ${{ secrets.S3_BUCKET_NAME }}

      steps:
      - name: deployServer
        run: |
          echo "$PRIVATE_KEY" >> private_key.pem
          chmod 400 private_key.pem
          ssh -i private_key.pem  -o StrictHostKeyChecking=no $USER@$HOST "
            CONTAINERS=\$(docker ps --filter \"publish=8080-8080\" -q);
            
            if [ ! -z \"\$CONTAINERS\" ]; then
                docker stop \$CONTAINERS && docker rm \$CONTAINERS;
            fi
            
            docker pull yeseulhong/grass-diary:latest;
            docker run -d -p 8080:8080 \
              -e GOOGLE_CLIENT_ID=$GOOGLE_CLIENT_ID \
              -e GOOGLE_CLIENT_SECRET=$GOOGLE_CLIENT_SECRET \
              -e JWT_ACCESS_SECRET_KEY=$JWT_ACCESS_SECRET_KEY \
              -e JWT_REFRESH_SECRET_KEY=$JWT_REFRESH_SECRET_KEY \
              -e DB_SERVER_URL=$DB_SERVER_URL \
              -e DB_USER_ID=$DB_USER_ID \
              -e DB_USER_PW=$DB_USER_PW \
              -e S3_ACCESS_PUBLIC_KEY=$S3_ACCESS_PUBLIC_KEY \
              -e S3_ACCESS_SECRET_KEY=$S3_ACCESS_SECRET_KEY \
              -e S3_BUCKET_NAME=$S3_BUCKET_NAME \
              yeseulhong/grass-diary:latest"
